body {
  width: 100%;
  margin: 0px;
}
p {
  margin: 0px;
}
li {
  list-style: none;
}
header {
  padding: 0px;
  background-color: #1a1a24;
  width: 100%;
  color: #e6e6f1;
}
.header-nav {
  padding: 0px;
}
.header-nav-list {
  margin: 0px;
  padding: 10px;
}
.header-nav-item {
  display: inline;
  margin: 10px 10px;
}
footer {
  padding: 0px;
  background-color: #1a1a24;
  width: 100%;
  color: #e6e6f1;
  min-height: 50px;
}
.footer-about {
  margin: 15px;
  width: 60%;
}
.footer-copyright {
  margin: 15px;
  width: 20%;
}
.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}
.inline{
  display: inline;
}
.left {
  float: left;
}
.right {
  float: right;
}
