<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GalleryWebsite</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <header>
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-item"><a>page 1</a></li>
                <li class="header-nav-item"><a>page 2</a></li>
                <li class="header-nav-item"><a>page 3</a></li>
                <li class="header-nav-item"><a>page 4</a></li>            
            </ul>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <div class="left footer-about">
            <p>this is a simple picture gallery website</p>
        </div>
        <div class="right footer-copyright">
            <p class="right"><span class="copyleft">&copy;</span> gallery 2023</p>
        </div>
    </footer>
</body>
</html>
